<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.EntityFrameworkCore.SqlServer" version="8.0.0" manuallyInstalled="true" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="8.0.0" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" manuallyInstalled="true" />
</packages>